

<div class="header">
    <h1>Flight Messages</h1>
  </div>
  <div id="loader-container" class="loader-wrapper">
    <div class="loader is-loading"></div>
  </div>
  <div class="row">
    <div id="btn-wrapper" class="col-3 col-s-3 menu">
      <ul>
        <li (click)="displayFlights()">See Flights</li>
      </ul>
      <div *ngIf="flightListFlag"class="listWrapper">
        <li  class="list-containers" *ngFor="let flight of this.flightData.data">
          <span  >{{flight.flightID}} Departure at {{flight.departureTimeS}}</span> 
        </li>
      </div>

      </div>
  
    <div id="main-msg-container" class="col-6 col-s-9">
      <h1>Current local time in {{this.mainIata}} is {{this.localTime}}</h1>
      <p> There are {{this.numberOfFLights}} flights from {{this.fromTime}} till {{this.toTime}}.</p> 
    </div>
  
    <div class="col-3 col-s-12">
      <div class="aside">
        <h2>So What You Can Do Here?</h2>
        <p>Hey There! Here you can see dynamic data about flight from JFK</p>

      </div>
    </div>
  </div>
  
